// Place all the styles related to the groceries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
	list-style-type: none;
	color: green;
	}
h1 {
	font-size: 35px;
}

h1:hover {
	font-size: 38px;
}
body {
	text-align: center;
	font-size: 28px;
	background-color: #E87E04;

}	


